@import "../../helpers/reset";
@import "../../helpers/variable";
@import "../../helpers/extend";

.infocard-list {
  margin-top: 1rem;
  .infocard-item {
    display: flex;
    &:nth-child(1) ~ li {
      margin-top: 1rem;
    }
    .info-img {
      width: 200px;
      border-radius: 10px;
    }
    .info-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 10px;
      overflow: hidden;
      .info-content-tit {
        font-size: 20px;
        padding-bottom: 20px;
      }
      .info-content-desc {
        font-size: 14px;
      }
    }
  }
}
