@import "../../helpers/_reset.scss";
@import "../../helpers/_variable";

.card-list {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  li {
    width: 45%;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px;
    &:nth-child(2) ~ li {
      margin-top: 1rem;
    }
    .card-cover {
      .card-img {
        max-width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-image: contain;
      }
    }
    .card-cont {
      box-sizing: border-box;
      padding: 0 0.5rem;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      .card-cate {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        .card-cate-tit {
          font-size: 14px;
        }
        .card-cate-star {
          font-size: 14px;
        }
      }
      .card-desc {
        font-size: 14px;
        margin-bottom: 5px;
        .card-desc-tit {
          font-size: 14px;
          margin-bottom: 5px;
        }
        .card-desc-price {
          font-size: 14px;
        }
        .card-desc-sale {
          margin-left: 3px;
          text-decoration: line-through;
          font-size: 12px;
        }
      }
    }
  }
}
