@import './components/helpers/_reset';
@import './components/helpers/_variable';

body {
  display: flex;
  justify-content: center;
  background-color: bisque;
}

.header {
}
.section {
  flex-grow: 1;
}
.footer {
}
